.projectContainer{
    display: flex;
    flex-direction: column;
    align-items: center; /* Add this line to center the items horizontally */
    justify-content: center; /* Add this line to center the items vertically */

}
.projectGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; /* Set the gap between grid items */
    justify-content: center; /* Center the grid horizontally */
    padding-bottom: 6rem;
}
@media (max-width: 1100px) {
    .projectGrid {
        grid-template-columns: 1fr;
    }
}

.projectText{
    font-size: 2rem;
    font-family: "Roboto", serif;
}
.projectLogo{
    font-size: 3rem;
    color: #7AD7F0;
}

.projectItem{
    position: relative;
    /*border: 1px solid #ccc;*/
    width: 520px;
    height: 300px;
    text-align: center;

}
.projectItem:hover{
    background-color: rgba(0,0,0,0.1);
}

.github{
    padding-right: .75rem;
    color: #7AD7F0;
}
.website{
    padding-right: .75rem;
    color: #fff;
}
.projectItem:hover .projectLinks {
    display: block;

}

.gif{
    width: 520px;
    height: 300px;
    border: 1px solid #ccc;
    transition: opacity 0.3s;

}


.projectSummary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.projectItem:hover .projectSummary {
    display: flex;
}

.projectItem img {
    transition: opacity 0.3s;
}

.projectItem:hover img {
    opacity: 0;
}
