.projectContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.projectGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.projectItem{
    border: 1px solid #ccc;
    padding: 20px;
    width: 90%;
    text-align: center;
    display: flex;
}