.skillsContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
.skillsGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 60%;
    justify-items: center;
}

.skillsItem{
    border: 1px solid #ccc;
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
}
.skillsLogo{
    font-size: 3rem;
    color: #7AD7F0;
}
