@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.skillsContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;

}
.skillsGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 60%;
    justify-items: center;
}
@media (max-width: 600px) {
    .skillsGrid {
        grid-template-columns: 1fr;
    }
}
.skillsItem{
    /*border: 1px solid #ccc;*/
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: flex-start;

}
.skillsLogo{
    font-size: 3rem;
    color: #7AD7F0;
}
.skillsText{
    font-family: "Roboto", serif;
}
.summary{
    text-align: center;
}
.itemsCheck{
    color: #7AD7F0;
    font-size: 1.8rem;

}
.skillsItem:hover{
    background-color: rgba(0,0,0,0.1);
}
.skillName{
    margin-left: 15%;
    font-size: 1.5rem;
}
